In [1]:
# Add table of contents

In [2]:
import pandas as pd
import numpy as np

from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
# Load dataframe
df = pd.read_pickle('../data/df_clean_5k_Jan19.pkl')

df.head(3)

,case_id,is_duplicate,opened,closed,updated,status_notes,responsible_agency,category,request_type,request_details,address,street,supervisor_district,neighborhood,police_district,latitude,longitude,point,source
772129,10390775,0,2019-01-22 14:02:41,2019-01-22 18:08:07,2019-01-22 18:08:07,Case Resolved - Pickup completed.,Recology_Abandoned,Street and Sidewalk Cleaning,Bulky Items,Mattress,"290 TRUMBULL ST, SAN FRANCISCO, CA, 94112",TRUMBULL ST,11,Mission Terrace,INGLESIDE,37.730783,-122.424126,"(37.730783, -122.424126)",Mobile/Open311
790082,10347011,0,2019-01-11 20:08:06,2019-01-12 12:47:43,2019-01-12 12:47:43,Case Resolved - WASTE NOT FOUND,Recology_Abandoned,Street and Sidewalk Cleaning,Bulky Items,Electronics,"319 SILVER AVE, SAN FRANCISCO, CA, 94112",SILVER AVE,11,Mission Terrace,INGLESIDE,37.728667,-122.430557,"(37.72866734, -122.4305567)",Mobile/Open311
788739,10349923,0,2019-01-12 20:36:00,2019-01-14 07:16:09,2019-01-14 07:16:09,Encampment Removed\nhandled,HSOC Queue,Encampments,Encampment Reports,Encampment Cleanup,Intersection of CHURCH ST and 18TH ST,CHURCH ST,8,Mission Dolores,MISSION,37.761288,-122.428352,"(37.76128769, -122.42835236)",Phone

# Cyclical Features
http://blog.davidkaleko.com/feature-engineering-cyclical-features.html

In [5]:
# Year
df['opened_year'] = df['opened'].dt.year.astype('category')

# Month
month = df['opened'].dt.month
df['opened_month_sin'] = np.sin(month*(2.*np.pi/12))
df['opened_month_cos'] = np.cos(month*(2.*np.pi/12))

# Week
week = df['opened'].dt.week
df['opened_week_sin'] = np.sin(week*(2.*np.pi/52))
df['opened_week_cos'] = np.cos(week*(2.*np.pi/52))

# Day of week
day = df['opened'].dt.dayofweek
df['opened_day_sin'] = np.sin(day*(2.*np.pi/7))
df['opened_day_cos'] = np.cos(day*(2.*np.pi/7))

# Hour
hour = df['opened'].dt.hour
df['opened_hour_sin'] = np.sin(hour*(2.*np.pi/24))
df['opened_hour_cos'] = np.cos(hour*(2.*np.pi/24))

In [6]:
df.head(3)

,case_id,is_duplicate,opened,closed,updated,status_notes,responsible_agency,category,request_type,request_details,...,source,opened_year,opened_month_sin,opened_month_cos,opened_week_sin,opened_week_cos,opened_day_sin,opened_day_cos,opened_hour_sin,opened_hour_cos
772129,10390775,0,2019-01-22 14:02:41,2019-01-22 18:08:07,2019-01-22 18:08:07,Case Resolved - Pickup completed.,Recology_Abandoned,Street and Sidewalk Cleaning,Bulky Items,Mattress,...,Mobile/Open311,2019,0.5,0.866025,0.464723,0.885456,0.781831,0.623490,-0.500000,-0.866025
790082,10347011,0,2019-01-11 20:08:06,2019-01-12 12:47:43,2019-01-12 12:47:43,Case Resolved - WASTE NOT FOUND,Recology_Abandoned,Street and Sidewalk Cleaning,Bulky Items,Electronics,...,Mobile/Open311,2019,0.5,0.866025,0.239316,0.970942,-0.433884,-0.900969,-0.866025,0.500000
788739,10349923,0,2019-01-12 20:36:00,2019-01-14 07:16:09,2019-01-14 07:16:09,Encampment Removed\nhandled,HSOC Queue,Encampments,Encampment Reports,Encampment Cleanup,...,Phone,2019,0.5,0.866025,0.239316,0.970942,-0.974928,-0.222521,-0.866025,0.500000

# Latitude and Longitude

In [7]:
# # Test rounding the lat/long
# df['latitude'] = round(df['latitude'], 4)
# df['longitude'] = round(df['longitude'], 4)

In [8]:
df.to_pickle('../data/df_clean_5k_Jan19.pkl')